/* Custom properties/variables  */
:root {
    --white: #ffffff;
    --black: #333333;
    --blue: #47457d52;
    --slikblue: #a7a7de;
    --orange: #ff7f50;
}

/* Base reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    line-height: 1.5;
    &::before, &::after {
        box-sizing: inherit;
    }
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Base Styles */
body {
    font-family: "Poppins", sans-serif, "Helvetica Neue", Helvetica, Arial;
    font-weight: 200; line-height: 1.5; color: var(--white);
}

h1, h2 {
    font-family: "Raleway", Arial, sans-serif, Helvetica;
    font-weight: 400;
}

a {
    color: var(--white);
}

img {
    display: block;
    width: 100%;
}

@mixin flexDisplay ($flow, $justify) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: center;
}

/* nav */
nav {
    @include flexDisplay(row, center);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--orange);
    h1 {
        display: none;
        font-family: cursive;
    }
    ul {
        @include flexDisplay(row, space-around);
        list-style: none;
        a {
            display: block;
            padding: .5rem 1rem;
            &:hover {
                background-color: var(--blue);
            }
        }
    }
}

/* Welcome Section */
#welcome-section {
    @include flexDisplay(column, center);
    text-align: center;
    background-image: linear-gradient(62deg, #333341 0%, #61546d 100%);
    margin-top: 2.5rem;
    .profile {
        padding: 5px;
        .profile-image {
            width: 70%;
            height: 200px;
            margin: auto;
            border-radius: 50%;
        }
    }
    .toolbox {
        @include flexDisplay(wrap, center);
        figure {
            width: 130px;
            box-shadow: 1px 2px #ff7f50;
            border-radius: 5px;
            margin: 10px;
            img {
                width: 80px;
                height: 60px;
                border-radius: 30%;
                margin: auto;
            }
        }
    }
}

/* Projects Section */
#projects {
    text-align: center;
    padding: 1rem;
    background: var(--slikblue);
    .projects-section-header {
        color: var(--black);
        max-width: 400px;
        margin: 0 auto 1rem auto;
        border-bottom: .2rem solid var(--orange);
    }
    .projects-grid {
        @include flexDisplay(wrap, center);
        align-items: center;
        .project {
            width: 280px;
            @include flexDisplay(column, center);
            background: var(--blue);
            box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.5);
            border-radius: .5rem; margin: 1rem;
            .project-image {
                height: calc(100% - 6.8rem);
                width: 90%;
                object-fit: cover;
                margin: 1rem auto;
            }
            .project-title {
                padding: 1rem 0.5rem;
                .code:hover {
                    color: var(--blue);
                }
            }
        }
    }
}

/* Footer Section */
footer {
    background: var(--black);
    @include flexDisplay(column, center);
    align-items: center;
    padding: 1rem 0;
    h2 {
        font-style: italic;
    }
    form {
        text-align: center;
        input {
            width: 90%;
            background: transparent;
            color: var(--white);
            border-radius: 5px 20px;
            box-shadow: 1px 2px var(--orange);
            padding: 10px;
            margin: 5px auto;
        }
        textarea {
            width: 95%;
            background: transparent;
            color: var(--white);
            border-radius: 5px 20px;
            box-shadow: 1px 1px 1px 2px var(--orange);
            padding: 5px;
            margin-top: 5px;
            resize: vertical;
        }
        input[type="checkbox"] {
            box-shadow: none;
            width: fit-content;
            margin: auto 20px;
        }
        button {
            padding: 5px 30px;
            border-radius: 5px;
            background: var(--white);
            font-weight: bold;
            margin: 5px auto;
            &:hover {
                background: var(--slikblue);
            }
        }
    }
    .contacts {
        @include flexDisplay(wrap, center);
        align-items: center;
        margin: 1.5rem 0;
        .contact-details {
            text-shadow: .2rem .2rem .1rem #000000;
            &:not(:last-child) {
                margin-right: 1.5rem;
            }
        }
    }
    p {
        font-style: italic;
        color: var(--orange);
    }
}




/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
*/

/* 460px / 16px = 28.75em */
@media (min-device-width: 768px) {
    body {
        font-size: 1.3em;
    }

	nav {
        @include flexDisplay(row, space-around);
        h1 {
            display: inline;
        }
    }

    /* Welcome Section */
    #welcome-section {
        @include flexDisplay(row, space-evenly);
        height: 100vh;
        .profile {
            .profile-image {
                height: 230px;
            }
        }
    }

    /* Project Section */
	.code {
        transition: color 0.5s ease-out;
    }

    .project:hover .code {
        color: var(--orange);
    }

    /* Footer Section*/
    .contact-details {
        transition: transform 0.5s ease-out;
        &:hover {
            transform: translateY(.6rem);
        }
    }
}